:root {
    --skin-color: #010226;
    --skin-color-shade: #4d4e67;
    --menu-background-color: #ffffffff;
    --background-color-shade: #e6e6e6;
    --Theme-color: #663600;
    --Theme-color-hover: #754a1a;
    --hover-color: #ffffffff
}